# FVWM - EvilWM
# =============
#
# This FVWM configuration is aimed at simplicity, which omits a lot of the stuff for decoration, so as to save system resource.
#
# Features
# --------
#
# * No title bar by default, no icons.
# * Simple 1-pixel border, black border represents a focused window, and white border represents unfocused windows.
# * Good keyboard control, including repositioning and maximise toggles.
# * Virtual desktops.
# * Snap-to-border.
#
# Installation
# ------------
#
# Copy this file to ~/.fvwm/ then rename this file to "config".
#
# Keyboard operation
# ------------------
#
# Win+Enter         Open a terminal
# Win+Esc           Close window
# Win+Tab           Switch to next window
# Win+Shift+Tab     Switch to previous window
# Win+x             Maximaze/Restore window
# Win+t             Toggle titlebar
# Win+Left drag     Move window
# Win+Right drag    Adjust window size
# Win+Middle click  Put the window to the bottom
#
# Win+y             Move window to the top-left corner of the desktop
# Win+u             Move window to the top-right corner of the desktop
# Win+j             Move window to the center of the desktop
# Win+n             Move window to the bottom-left corner of the desktop
# Win+m             Move window to the bottom-right corner of the desktop
#
# Win+Left          Switch to the previous virtual desktop
# Win+Right         Switch to the next virtual desktop
# Win+1             Switch to virtual desktop 1
# Win+2             Switch to virtual desktop 2
# Win+3             Switch to virtual desktop 3
# Win+4             Switch to virtual desktop 4
#
# Win+Shift+Left    Move window to the previous virtual desktop
# Win+Shift+Right   Move window to the next virtual desktop
# Win+Shift+1       Move window to virtual desktop 1
# Win+Shift+2       Move window to virtual desktop 2
# Win+Shift+3       Move window to virtual desktop 3
# Win+Shift+4       Move window to virtual desktop 4
#
# Based on the code published at https://code.google.com/p/fvwm-rio/ from difancn@gmail.com
# author: frank-deng[13382084679@163.com]
#
#
# Configure LightDM For Automatic Login
# =====================================
#
# 1. Create group `autologin` if not exist, then add current user to group `autologin`.
#
# 2. Append the following lines to `/etc/lightdm/lightdm.conf`. (If the configuration file does not exist, create it)
#
#	[SeatDefaults]
#	autologin-user=username
#	autologin-user-timeout=0
#
# 3. Reboot to check whether it works.
#
#
# Prevent FireFox From Creating Directories Automatically
# =======================================================
#
# Create or modify `~/.config/user-dirs.dirs` with the following configuration:
#
#	XDG_DESKTOP_DIR="$HOME/"
#	XDG_DOWNLOAD_DIR="$HOME/"
#	XDG_TEMPLATES_DIR="$HOME/"
#	XDG_PUBLICSHARE_DIR="$HOME/"
#	XDG_DOCUMENTS_DIR="$HOME/"
#	XDG_MUSIC_DIR="$HOME/"
#	XDG_PICTURES_DIR="$HOME/"
#	XDG_VIDEOS_DIR="$HOME/"
#
#
# How To Customize GTK2 and GTK3
# ==============================
#
# GTK2: Create or modify `~/.gtkrc-2.0` with the following configuration:
#
#	gtk-theme-name="Clearlooks"
#	gtk-font-name="DejaVu\ Sans 9"
#	gtk-icon-theme-name="gnome"
#
# GTK3: Create or modify `~/.config/gtk-3.0/settings.ini` with the following configuration:
#
#	[Settings]
#	gtk-theme-name = Adwaita
#	gtk-font-name = DejaVu\ Sans 9
#	gtk-icon-theme-name = gnome
#

setenv font 'sans'
#setenv font 'WenQuanYi Zen Hei'

setenv terminal_prog 'x-terminal-emulator'

setenv snap_distance 10
setenv show_title 0

DesktopName 0 0
DesktopName 1 1
DesktopName 2 2
DesktopName 3 3

DeskTopSize 1x1
EdgeScroll 0 0

HideGeometryWindow
ColormapFocus FollowsMouse

# Prevent NumLock,CapsLock,ScrollLock from affecting the key bindings
IgnoreModifiers L25

# Colors
Colorset 1 fg black, bg white, sh white, hi white
Colorset 2 fg white, bg black, sh black, hi black
Style * BorderColorset 1
Style * HilightBorderColorset 2
Style * Color black
HilightColor white black
TitleStyle AllActive (Solid black -- flat)
TitleStyle AllInactive (Solid white -- flat)

# Set font
DefaultFont "xft:$[font]:regular:size=10"

# No handles for adjusting window size
Style * BorderWidth 1, !Handles, !Title
Style * ClickToFocus, ClickToFocusPassesClick
Style * SmartPlacement, CleverPlacement
Style "Fvwm*" Sticky, WindowListSkip, CirculateSkipIcon, CirculateSkip

# StartFunction executed when the window manager starts and restarts
DestroyFunc StartFunction
AddToFunc StartFunction
+ Exec exec xsetroot -solid black

# Other functions
DestroyFunc MaximizeWindow
AddToFunc MaximizeWindow
+ I Maximize
+ I Current Focus

DestroyFunc Move-or-Raise
AddToFunc Move-or-Raise	I Raise
+ I Focus
+ M Move

DestroyFunc Resize-or-Raise
AddToFunc Resize-or-Raise I Raise
+ I Focus
+ M Resize

DestroyFunc LowerWindow
AddToFunc LowerWindow I Focus
+ I Current Lower

DestroyFunc NextWindow
AddToFunc NextWindow
+ I Next (CurrentPage !Iconic AcceptsFocus) Focus
+ I Current Raise

DestroyFunc PrevWindow
AddToFunc PrevWindow
+ I Prev (CurrentPage !Iconic AcceptsFocus) Focus
+ I Current Raise

DestroyFunc MoveAndGo
AddToFunc MoveAndGo
+ I MoveToDesk $0 $1 $2 $3
+ I GotoDesk $0 $1 $2 $3

DestroyFunc ToggleTitle
AddToFunc ToggleTitle
+ I Test (EnvMatch show_title 0) Style * Title
+ I TestRc (NoMatch) Style * !Title
+ I Test (EnvMatch show_title 0) SetEnv show_title 1
+ I TestRc (NoMatch) SetEnv show_title 0

# Mouse operation and key shortcuts
Mouse 1 W 4 Move-or-Raise
Mouse 2 W 4 LowerWindow
Mouse 3 W 4 Resize-or-Raise
Mouse 1 R A Nop

Key Y A 4 Move 0 0
Key U A 4 Move -0 0
Key J A 4 Move 50-50w 50-50w
Key N A 4 Move 0 -0
Key M A 4 Move -0 -0

Key Left A 4 GotoDesk -1 0 3
Key Right A 4 GotoDesk 1 0 3
Key 1 A 4 GotoDesk 0 0 0 3
Key 2 A 4 GotoDesk 0 1 0 3
Key 3 A 4 GotoDesk 0 2 0 3
Key 4 A 4 GotoDesk 0 3 0 3

Key Left A S4 MoveAndGo -1 0 3
Key Right A S4 MoveAndGo 1 0 3
Key 1 A S4 MoveAndGo 0 0 0 3
Key 2 A S4 MoveAndGo 0 1 0 3
Key 3 A S4 MoveAndGo 0 2 0 3
Key 4 A S4 MoveAndGo 0 3 0 3

Key Tab	A 4 PrevWindow
Key Tab	A S4 NextWindow
Key Tab A M Nop
Key Return A 4 exec $[terminal_prog]
Key Escape A 4 Close
Key X A 4 MaximizeWindow
Key T A 4 ToggleTitle
Key BackSpace A SMC4 restart fvwm2

# Window snapping
style * SnapAttraction $[snap_distance] ScreenAll 

# Open a terminal when the window manager starts
Exec exec $[terminal_prog]

