__pycache__
*.swp
*.o
*.COM
*.com
guessnum
guessnum.h
articles
DOC
ie3-site/images/*
ie3-site/musics/*
ie3-site/_posts/*
ie3-site/_data/*
ie3-site/_site/*
ie3-site/*.zip
ie3-site/*.iso
ie3-site/*.img
config.py
test.py
autorun.bat
AUTORUN.BAT