__pycache__
node_modules
__test__
*.swp
*.o
*.COM
*.so
*.obj
*.com
*.EXE
*.exe
*.err
*.log
.outside
*.wav
*.eml

build
dist
posts
*.egg-info

*.toml
/servers/answer/

sudoku
