<html>
	<head>
	    <meta charset='GB2312'/>
	    <title>首页 - {{dateStr}}</title>
	</head>
	<body topmargin='0' leftmargin='0' rightmargin='0' bottommargin='0' background='static/GRAY.JPG'>{% if weather['warning'] %}{% for item in weather['warning'] %}
<!--Weather warning-->
<font color='{{item['level_rgb']}}'><marquee bgcolor='#ffffff' scrolldelay=100 scrollamount=8>{{item['text']}}</marquee></font>
{% endfor %}
{% endif %}
<!--页头和天气模块-->
<table width='100%' cellspacing='0' cellpadding='0'>
    <tr>
        <td bgcolor='#ffff33' width='10px' rowspan='2'></td>
        <td bgcolor='#ffff33' bordercolor='#ff0000' rowspan='2' height='40px' nowrap>
            <img src='/static/CONTBULL.GIF'/><font size='5' face='黑体' color='#000080'><b>欢迎光临我的信息港</b>&nbsp;</font><img src='static/CONTBULL.GIF'/></td>
	<td bgcolor='#ffff33' bordercolor='#ff0000' nowrap align='right'>{% if weather %}{{weather['location_str']}}&nbsp;{{weather['now']['text']}}&nbsp;{{weather['now']['temp']}}℃&nbsp;AQI：{{weather['air']['aqi']}}&nbsp;{{weather['air']['category']}}{% else %}没有天气信息 <font size=2>[<a href='select_city.asp'>选择城市</a>]</font>&nbsp;{% endif %}</td>
        <td bgcolor='#ffff33' width='10px' rowspan='2'></td>
    </tr>
    <tr>
        <td bgcolor='#ffff33' align='right' height='16px'>
		<font size='2'>｜{% for item in links %}<a href='{{item["link"]}}'>{{item['label']}}</a>｜{% endfor %}</font></td>
    </tr>
    <tr>
        <td rowspan=200></td>
        <td height='8px' colspan=2></td>
        <td rowspan=200></td>
    </tr>
    <tr><td colspan=2>
<!--News Module-->
{% if news %}
<table width='100%'>
    <tr>
        <td colspan=2 height='24px' valign='middle'>
            <img src='/static/BULL1A.GIF'/>
            <b>今日热点</b>　<a href='news.asp'><font size='2'>更多&gt;&gt;</font></a>
        </td>
    </tr>
    <tr><td colspan=2 height='6px'></td></tr>
    {% for item in news %}
    <tr>
        <td width='10px'></td>
	<td><img src='/static/BULLET3.GIF'/> <a href='news.asp?id={{item['id']}}'>{{item['title']|safe}}</a></td>
    </tr>
    {% endfor %}
</table><p align='center'><img src='/static/CONTLINE.GIF'></p>
{% endif %}
{% if blogs %}
<table width='100%'>
    <tr>
        <td colspan=2 height='24px' valign='middle'>
            <img src='/static/BULL1A.GIF'/>
            <b>我的博客</b>　<a href='blog/index.htm'><font size='2'>更多&gt;&gt;</font></a>
        </td>
    </tr>
    <tr><td colspan=2 height='6px'></td></tr>
    <?php foreach($blogs as $item){ ?>
    <tr>
        <td width='10px'></td>
        <td><img src='/static/BULLET3.GIF'/> <a href='blog/<?=$item['link']?>'><?=$item['title']?></a></td>
    </tr>
    <?php } ?>
</table><p align='center'><img src='/static/CONTLINE.GIF'></p>
{% endif %}
</td></tr>
<tr><td height='10px'></td></tr>
</table></body></html>

