<html>
<head>
  <meta charset='GB2312'/>
</head>
<body bgcolor='#ffffff' topmargin='3' leftmargin='8' rightmargin='8' bottommargin='0'>
	<p><a href='mail_editor.asp?action=forward&email_id={{email_id}}'>[转发]</a></p>
{% for mail in email_list %}
<div><b>发件人：</b>{{mail['from_addr']}}</div>
{% if mail['to_str'] %}<div><b>收件人：</b>{{mail['to_str']}}</div>{% endif %}
{% if mail['cc_str'] %}<div><b>抄送：</b>{{mail['cc_str']}}</div>{% endif %}
<div><b>标题：</b>{{mail['subject']}}</div>
{% if mail['body'] %}<pre>{{mail['body']}}</pre>{% endif %}
<hr>
{% endfor %}
</body>
</html>
