{% extends "base.html" %}
{% block content %}
<p><b>当前城市：</b>{{location_str}} <font size='2'>[<a href='select_city.asp'>选择城市</a>]</font></p>{% if warning %}<p>
{% for item in warning %}
<div><font color='{{item['level_rgb']}}'>{{item['text']|safe}}</font></div>
{% endfor %}
</p>{% endif %}<table>
	<tr>
		<th align='left'>天气</th>
		<td rowspan='3' width='10px'></td>
		<td>{{now['text']}}</td>
		<td rowspan='3' width='20px'></td>
		<th align='left'>温度</th>
		<td rowspan='3' width='10px'></td>
		<td><font face='Times New Roman'>{{now['temp']}}</font>℃</td>
		<td rowspan='2' width='20px'></td>
		<th align='left'>空气污染指数</th>
		<td rowspan='2' width='10px'></td>
		<td><font face='Times New Roman'>{{air['aqi']}}</font></td>
	</tr>
	<tr>
		<th align='left'>湿度</th>
		<td><font face='Times New Roman'>{{now['humidity']}}%</font></td>
		<th align='left'>能见度</th>
		<td><font face='Times New Roman'>{{now['vis']}}km</font></td>
		<th align='left'>空气质量等级</th>
		<td>{{air['category']}}</td>
	</tr>
	<tr>
		<th align='left'>风向</th>
		<td>{{now['windDir']}}</td>
		<th align='left'>风速</th>
		<td colspan=5><font face='Times New Roman'>{{now['windScale']}}</font>级（<font face='Times New Roman'>{{now['windSpeed']}}km/h</font>）</td>
	</tr>
</table>
<p align='center'><img src='/static/ELEGLINE.GIF'/></p>
<h3><font face='Times New Roman'>6</font>天天气预报</h3>
<table width='100%'>
	<tr>
		<th align='left'>日期</th>
		<th align='left'>天气</th>
		<th align='left'>温度</th>
		<th align='left'>湿度</th>
		<th align='left'>风向</th>
		<th align='left'>风速</th>
	</tr>
{% for item in forecast %}
	<tr>
		<td><font face='Times New Roman'>{{item['fxDate']}}</font></td>
		<td>{{item['textDay']}}<font face='Times New Roman'>/</font>{{item['textNight']}}</td>
		<td><font face='Times New Roman'>{{item['tempMin']}}</font>℃<font face='Times New Roman'>/{{item['tempMax']}}</font>℃</td>
		<td><font face='Times New Roman'>{{item['humidity']}}%</font></td>
		<td>{{item['windDirDay']}}<font face='Times New Roman'>/</font>{{item['windDirNight']}}</td>
		<td><font face='Times New Roman'>{{item['windScaleDay']}}</font>级<font face='Times New Roman'>/{{item['windScaleNight']}}</font>级</td>
	</tr>
{% endfor %}
</table>
<p align='center'><img src='/static/ELEGLINE.GIF'/></p>
<h3>气象指数</h3>
<ul>
{% for sugg in indices %}
	<li>
		<b>{{sugg['name']}}</b>：{{sugg['category']}}
		<div>{{sugg['text']}}</div>
	</li>
{% endfor %}
</ul>
<p align='center'><img src='/static/ELEGLINE.GIF'/></p>
{% endblock %}
